.mainDiv{
    display: flex;
    max-width: 60%;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.leftDiv{
    width: 30%;
    max-width: 30%;
    
}

.rightDiv{
    width: 70%;
    max-width: 70%;
    background-color: #F3F7FF;
}